# Gradle
.gradle/
build/
**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Android
*.apk
*.aab
*.ap_
*.dex
*.class
local.properties
*.jks
*.keystore

# Kotlin metadata
.kotlin/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/
captures/
.navigation/

# macOS
.DS_Store
**/.DS_Store

# Generated
gen/
generated/
